<h3>Importing Necessary Libraries</h3>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
pd.options.display.max_rows = 100

<h3>Explorting Datasets</h3>

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.head(10)

,animal_id_outcome,dob_year,dob_month,age_upon_intake,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,...,age_upon_outcome_(years),age_upon_outcome_age_group,outcome_datetime,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,outcome_type
0,A006100,2007,7,10 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Stray,Neutered Male,...,10.0,"(7.5, 10.0]",2017-12-07 14:07:00,12,2017,2017-12,Thursday,0,1.0,Return to Owner
1,A006100,2007,7,7 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,...,7.0,"(5.0, 7.5]",2014-12-20 16:35:00,12,2014,2014-12,Saturday,16,2.0,Return to Owner
2,A006100,2007,7,6 years,Dog,Spinone Italiano Mix,Yellow/White,Normal,Public Assist,Neutered Male,...,6.0,"(5.0, 7.5]",NaN,3,2014,2014-03,Saturday,17,3.0,Return to Owner
3,A047759,2004,4,10 years,Dog,Dachshund,Tricolor,Normal,Owner Surrender,Neutered Male,...,10.0,"(7.5, 10.0]",2014-04-07 15:12:00,4,2014,2014-04,Monday,15,1.0,Missing
4,A134067,1997,10,16 years,Dog,Shetland Sheepdog,Brown/White,Injured,Public Assist,Neutered Male,...,16.0,"(15.0, 17.5]",2013-11-16 11:54:00,11,2013,2013-11,Saturday,11,1.0,Return to Owner
5,A141142,1998,6,15 years,Dog,Labrador Retriever/Pit Bull,Black/White,Aged,Stray,Spayed Female,...,15.0,"(12.5, 15.0]",2013-11-17 11:40:00,11,2013,2013-11,Sunday,11,1.0,Return to Owner
6,A163459,1999,10,15 years,Dog,Miniature Schnauzer Mix,Black/Gray,Normal,Stray,Intact Female,...,15.0,"(12.5, 15.0]",2014-11-14 19:28:00,11,2014,2014-11,Friday,19,1.0,Return to Owner
7,A165752,1999,8,15 years,Dog,Lhasa Apso Mix,Brown/White,Normal,Stray,Neutered Male,...,15.0,"(12.5, 15.0]",NaN,9,2014,2014-09,Monday,16,1.0,Return to Owner
8,A178569,1999,3,15 years,Dog,Shetland Sheepdog Mix,White/Black,Normal,Public Assist,Neutered Male,...,15.0,"(12.5, 15.0]",NaN,3,2014,2014-03,Sunday,15,1.0,Return to Owner
9,A189592,1997,8,18 years,Dog,Shetland Sheepdog Mix,Brown/White,Normal,Stray,Spayed Female,...,18.0,"(17.5, 20.0]",NaN,9,2015,2015-09,Friday,19,1.0,Return to Owner

In [4]:
print(f'training data has {train.shape[0]} rows and {train.shape[1]} columns')
print(f'test data has {test.shape[0]} rows and {test.shape[1]} columns')

training data has 47803 rows and 37 columns
test data has 31869 rows and 36 columns

In [16]:
train.isna().sum().sort_values(ascending=False)[:5]        #20% of the outcome_datetime feature is missing
#(train.isna().mean()*100).sort_values(ascending=False)[:5]

outcome_datetime    9619
sex_upon_intake        1
sex_upon_outcome       1
outcome_type           0
intake_type            0
dtype: int64

In [17]:
#luckily test data doesn't seem to have missing values
test.isna().sum().sort_values(ascending=False)[:5]

outcome_number               0
outcome_hour                 0
intake_month                 0
intake_datetime              0
age_upon_intake_age_group    0
dtype: int64

In [27]:
train.columns

Index(['animal_id_outcome', 'dob_year', 'dob_month', 'age_upon_intake',
       'animal_type', 'breed', 'color', 'intake_condition', 'intake_type',
       'sex_upon_intake', 'count', 'age_upon_intake_(days)',
       'age_upon_intake_(years)', 'age_upon_intake_age_group',
       'intake_datetime', 'intake_month', 'intake_year', 'intake_monthyear',
       'intake_weekday', 'intake_hour', 'intake_number', 'time_in_shelter',
       'time_in_shelter_days', 'age_upon_outcome', 'date_of_birth',
       'sex_upon_outcome', 'age_upon_outcome_(days)',
       'age_upon_outcome_(years)', 'age_upon_outcome_age_group',
       'outcome_datetime', 'outcome_month', 'outcome_year',
       'outcome_monthyear', 'outcome_weekday', 'outcome_hour',
       'outcome_number', 'outcome_type'],
      dtype='object')

In [155]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47803 entries, 0 to 47802
Data columns (total 37 columns):
animal_id_outcome             47803 non-null object
dob_year                      47803 non-null int64
dob_month                     47803 non-null int64
age_upon_intake               47803 non-null object
animal_type                   47803 non-null object
breed                         47803 non-null object
color                         47803 non-null object
intake_condition              47803 non-null object
intake_type                   47803 non-null object
sex_upon_intake               47802 non-null object
count                         47803 non-null int64
age_upon_intake_(days)        47803 non-null int64
age_upon_intake_(years)       47803 non-null float64
age_upon_intake_age_group     47803 non-null object
intake_datetime               47803 non-null object
intake_month                  47803 non-null int64
intake_year                   47803 non-null int64
intake_monthyear              47803 non-null object
intake_weekday                47803 non-null object
intake_hour                   47803 non-null int64
intake_number                 47803 non-null float64
time_in_shelter               47803 non-null object
time_in_shelter_days          47803 non-null float64
age_upon_outcome              47803 non-null object
date_of_birth                 47803 non-null object
sex_upon_outcome              47802 non-null object
age_upon_outcome_(days)       47803 non-null int64
age_upon_outcome_(years)      47803 non-null float64
age_upon_outcome_age_group    47803 non-null object
outcome_datetime              38184 non-null object
outcome_month                 47803 non-null int64
outcome_year                  47803 non-null int64
outcome_monthyear             47803 non-null object
outcome_weekday               47803 non-null object
outcome_hour                  47803 non-null int64
outcome_number                47803 non-null float64
outcome_type                  47803 non-null object
dtypes: float64(5), int64(11), object(21)
memory usage: 9.7+ MB

In [28]:
train.describe()

,dob_year,dob_month,count,age_upon_intake_(days),age_upon_intake_(years),intake_month,intake_year,intake_hour,intake_number,time_in_shelter_days,age_upon_outcome_(days),age_upon_outcome_(years),outcome_month,outcome_year,outcome_hour,outcome_number
count,47803.000000,47803.000000,47803.0,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000,47803.000000
mean,2012.197728,6.337531,1.0,841.679915,2.305972,6.596113,2014.600046,13.549087,1.144552,17.143366,855.319729,2.343342,6.650587,2014.638893,14.381545,1.144552
std,3.068255,3.342038,0.0,1100.557953,3.015227,3.460172,0.905731,3.179397,0.500055,46.600727,1103.598596,3.023558,3.490263,0.912706,3.456145,0.500055
min,1992.000000,1.000000,1.0,0.000000,0.000000,1.000000,2013.000000,0.000000,1.000000,0.000694,0.000000,0.000000,1.000000,2013.000000,0.000000,1.000000
25%,2011.000000,4.000000,1.0,60.000000,0.164384,4.000000,2014.000000,11.000000,1.000000,1.049653,90.000000,0.246575,4.000000,2014.000000,12.000000,1.000000
50%,2013.000000,6.000000,1.0,365.000000,1.000000,7.000000,2015.000000,13.000000,1.000000,4.972222,365.000000,1.000000,7.000000,2015.000000,15.000000,1.000000
75%,2014.000000,9.000000,1.0,1095.000000,3.000000,10.000000,2015.000000,16.000000,1.000000,13.113889,1095.000000,3.000000,10.000000,2015.000000,17.000000,1.000000
max,2016.000000,12.000000,1.0,8030.000000,22.000000,12.000000,2018.000000,23.000000,13.000000,1606.194444,8030.000000,22.000000,12.000000,2018.000000,23.000000,13.000000

<h3>Observations:</h3>
            
        * count column has only one value : 1
        * does intake_number and outcome_number columns hold same value? If yes, any one of the columns can be dropped
          to avoid multicolinearity      
        * age_upon_intake can be coverted to int dtype
        * we have only 4 unique animal_types
        * intake_hour, intake_month, intake_year, intake_monthyear, intake_weekday columns have been created from
          intake_datetime column and this column can be used to create additional features. intake_monthyear column can be
          dropped to avoid multicolinearity.
        * time_in_shelter and time_in_shelter_days columns present the same value in different units.
        * age_upon_intake, age_upon_intake_(years) has almost same values and is true for outcome columns as well.
        * age_group bin can be modified with a class that represents this age group
        * outcome_datetime value has 20% missing value and can be dropped as we already have calculated outcome_month,
          outcome_year, outcome_monthyear, outcome_weekday, outcome_hour columns calculated from the this column.

<h3>Data Cleaning</h3>

In [158]:
train.outcome_number.equals(train.intake_number)

True

* does intake_number and outcome_number columns hold same value?
        Yes! Let's drop outcome_number colum for now

In [174]:
#dropping count columns as it has no variance and provide no information to the model
train.drop(labels=['count','intake_number', 'intake_monthyear', 'time_in_shelter',
                   'age_upon_outcome', 'age_upon_intake', 'outcome_datetime'], axis=1, inplace=True)

In [206]:
train['age_upon_intake_(days)'] = pd.to_numeric(train['age_upon_intake_(days)'], downcast='integer')

In [224]:
train[train['outcome_type']=='Died']

,animal_id_outcome,dob_year,dob_month,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),...,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,outcome_type
13591,A677853,2012,10,Dog,Pit Bull/Catahoula,White/Brown,Normal,Stray,Neutered Male,730,...,730,2.0,"(-0.025, 2.5]",7,2015,2015-07,Wednesday,17,1.0,Return to Owner
13592,A677853,2012,10,Dog,Pit Bull/Catahoula,White/Brown,Normal,Stray,Neutered Male,730,...,730,2.0,"(-0.025, 2.5]",11,2014,2014-11,Saturday,17,2.0,Return to Owner
13593,A677853,2012,10,Dog,Pit Bull/Catahoula,White/Brown,Normal,Stray,Neutered Male,365,...,365,1.0,"(-0.025, 2.5]",10,2014,2014-10,Thursday,12,3.0,Return to Owner
13594,A677853,2012,10,Dog,Pit Bull/Catahoula,White/Brown,Normal,Owner Surrender,Neutered Male,365,...,365,1.0,"(-0.025, 2.5]",8,2014,2014-08,Thursday,12,4.0,Died
13595,A677853,2012,10,Dog,Pit Bull/Catahoula,White/Brown,Normal,Stray,Intact Male,365,...,365,1.0,"(-0.025, 2.5]",6,2014,2014-06,Tuesday,19,5.0,Relocate

<h3>The outcome_number and target label seem to have discrepancy</h3>

        * For the animal_id :A705625, It was brought to org first time on 2015-07 as an Intact Male and next time it came in 
          as neutered male on  2016-04, sex_upon_outtake has NaN values for this id. So couldnt verify if the animal came in 
          for casteration and was returned to owner. We have 'Died' as the label for this animal which seem to be incorrect.

In [311]:
train.loc[train['animal_id_outcome']=='A705625', ['age_upon_income_(days)','age_upon_outcome_(days)','age_upon_outcome_(years)'
                                                 ,'income_hour','outcome_hour']]

,age_upon_income_(days),age_upon_outcome_(days),age_upon_outcome_(years),income_hour,outcome_hour
34915,NaN,1095,3.0,NaN,18
34916,NaN,1095,3.0,NaN,12
34917,NaN,1095,3.0,NaN,17
34918,NaN,730,2.0,NaN,13
34919,NaN,730,2.0,NaN,13
34920,NaN,730,2.0,NaN,13

In [310]:
train[train['animal_id_outcome']=='A691218']

,animal_id_outcome,dob_year,dob_month,animal_type,breed,color,intake_condition,intake_type,sex_upon_intake,age_upon_intake_(days),...,age_upon_outcome_(days),age_upon_outcome_(years),age_upon_outcome_age_group,outcome_month,outcome_year,outcome_monthyear,outcome_weekday,outcome_hour,outcome_number,outcome_type
23982,A691218,2013,5,Dog,American Bulldog,White/Black,Normal,Stray,Neutered Male,365,...,365,1.0,"(-0.025, 2.5]",2,2015,2015-02,Saturday,18,1.0,Died
23983,A691218,2013,5,Dog,American Bulldog,White/Black,Normal,Stray,Neutered Male,365,...,365,1.0,"(-0.025, 2.5]",1,2015,2015-01,Monday,17,2.0,Return to Owner
23984,A691218,2013,5,Dog,American Bulldog,White/Black,Normal,Stray,Neutered Male,365,...,365,1.0,"(-0.025, 2.5]",11,2014,2014-11,Wednesday,15,3.0,Return to Owner
23985,A691218,2013,5,Dog,American Bulldog,White/Black,Normal,Stray,Intact Male,365,...,365,1.0,"(-0.025, 2.5]",11,2014,2014-11,Sunday,18,4.0,Return to Owner
23986,A691218,2013,5,Dog,American Bulldog,White/Black,Normal,Stray,Intact Male,365,...,365,1.0,"(-0.025, 2.5]",11,2014,2014-11,Saturday,14,5.0,Return to Owner

In [299]:
train.groupby('animal_id_outcome')['animal_id_outcome'].count().nlargest()

SyntaxError: invalid syntax (<ipython-input-299-52e666e07e6f>, line 1)

In [247]:
train['animal_id_outcome'].value_counts()>1

A721033    13
A706536    11
A718223    11
A716018     8
A694501     8
A616444     8
A678294     7
A671704     7
A670612     7
A593537     7
A701901     7
A683108     7
A704287     6
A695857     6
A703649     6
A462580     6
A718877     6
A719117     6
A690234     6
A693283     6
A688610     6
A665334     6
A690543     6
A678174     6
A667894     6
A683030     6
A623561     6
A663819     6
A700396     6
A676423     6
A701265     6
A705625     6
A704004     5
A666768     5
A691218     5
A672216     5
A718350     5
A701879     5
A705228     5
A610531     5
A698638     5
A696688     5
A704998     5
A588601     5
A669900     5
A616559     5
A707579     5
A709390     5
A671822     5
A720393     5
           ..
A713505     1
A608512     1
A691014     1
A679361     1
A678664     1
A712385     1
A687397     1
A675405     1
A700297     1
A683275     1
A712220     1
A702093     1
A709598     1
A699553     1
A699800     1
A699614     1
A682909     1
A689709     1
A675011     1
A698068     1
A680108     1
A687931     1
A706015     1
A680048     1
A718419     1
A665615     1
A673284     1
A656110     1
A701120     1
A674960     1
A680278     1
A720901     1
A715695     1
A715570     1
A663550     1
A708593     1
A706596     1
A669494     1
A684209     1
A691199     1
A661639     1
A678451     1
A697915     1
A715941     1
A716181     1
A691861     1
A677074     1
A669570     1
A712935     1
A678594     1
Name: animal_id_outcome, Length: 42679, dtype: int64